.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  // width: 99.7vw;
  // margin-left: -13%;
  margin: 5rem -11.5% 0 -11.7%;

  ul li {
    list-style-type: none;
    margin: 2rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 915px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    margin: 5rem -11.5% 0 -11.7%;

    ul li {
      list-style-type: none;
      margin: 2rem;
      cursor: pointer;
    }
    .status-section,
    .nation-section {
      display: none;
    }
  }
}
