.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style-type: none;
  margin-top: 1rem;

  li {
    border: 1px solid #015db2;
    border-radius: 5px;

    a {
      padding: 10px;
      color: #015db2;
    }
  }
  & .active {
    background-color: #015db2;

    & a {
      color: #f1f1f1;
    }
  }
}
